docling==2.24.0
fastapi==0.115.8
langchain==0.3.19
langchain_community==0.3.18
langchain_docling==0.2.0
langchain_groq==0.2.4
langchain_huggingface==0.1.2
langchain_milvus==0.1.8
langgraph==0.2.74
pydantic==2.10.6

Requests==2.32.3
streamlit==1.30.0